/DeclarationCounter.class
/FileHandler.class
/ReferenceCounter.class
/TestProject.class
/TypeCounter.class
/DeclarationCounter$1.class
/DeclarationCounter$2.class
/DeclarationCounter$3.class
/ReferenceCounter$1.class
/ReferenceCounter$2.class
/ReferenceCounter$3.class
/ReferenceCounter$4.class
/ReferenceCounter$5.class
/ReferenceCounter$6.class
/bin/
